/*variables*/

:root{

    --black_dnc:#303030;

    --white_dnc: #FFFFFF;

    --blue_dnc: #0C70F2;

    --font_default: "Inter";
}

body{

    margin: 0px;
    padding: 0px;

    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;

}

/*Header Nav Top*/

#navHeader{

    background-color: var(--black_dnc);

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #BABABA;

}

    #linksNavHeader{

        margin-left: 96px;
        margin-top: 35px;
        margin-bottom: 35px;

    }

    #linksNavHeader a{

        font-family: var(--font_default);
        font-size: 25px;
        font-weight: 600;
        color: var(--white_dnc);
        text-decoration: none;
        padding-right: 25px;

    }

    #navHeader button{

        /*Size and position of button*/
        width: 80px;
        height: 39;
        margin-top: 31px;
        margin-bottom: 31px;
        margin-right: 150px;

        /*style of button*/
        background-color: var(--blue_dnc);
        border: 0;
        color: var(--white_dnc);
        font-family: var(--font_default);
        font-size: 20px;
        font-weight: 600;
        box-shadow: 3px 2px 4px #0C70F240;
        cursor: pointer;
    }

/*Header text middle*/

#textHeader{

    display: flex;
    flex-direction: column;
    text-align: center;

}

    #textHeader h1{

        font-family: var(--font_default);
        font-size: 80px;
        font-weight: 800;
        margin-top: 100px;
        padding: 0px;
        color: var(--white_dnc);

        width: 100%;

    }

    #textHeader h2{

        font-family: var(--font_default);
        font-size: 40px;
        font-weight: 500;
        margin-top: -35px;
        padding: 0px;
        color: var(--white_dnc);

        width: 100%;

    }
    
    h2 .boldbackground{

        background-color: rgba(0, 0, 0, 0.500);
        font-weight: bold;
    }


/*start Section form*/
form{

    display: flex;
    flex-direction: column;
    align-items: center;

}

    form .inputForm label{

        margin: 20px 0px 20px 0px;
        padding: 0px;

        font-family: var(--font_default);
        color: var(--white_dnc);
        font-size: 25px;
        font-weight: 600;
        
    }

    form .inputForm{

        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    form .inputForm input{

        width: 630px;
        height: 46px;
        border-radius: 10px;
    }

    #sectionCheckbox{

        display: flex;
        flex-direction: column;

        width: 640px;
    }

    #checkboxList{

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #checkboxList input[type="checkbox"]{

        transform: scale(1.7);
    }

    #sectionCheckbox label{

        font-family: var(--font_default);
        font-size: 25px;
        font-weight: 600;
        color: var(--white_dnc);
        margin: 20px 0px 20px 0px;
        padding: 0;
    }

    #sectionCheckbox div label{

        font-family: var(--font_default);
        font-size: 25px;
        font-weight: 600;

        color: var(--white_dnc);

    }

    form button{

        /*Size and position of button*/
        align-items: center;
        padding: 0px;
        margin: 50px 405px 50px 405px;
        width: 630px;
        height: 56px;

        /*Style of button*/
        background-color: var(--blue_dnc);
        border-radius: 10px;
        border: 0px;
        font-family: var(--font_default);
        font-size: 32px;
        font-weight: 600;
        color: var(--white_dnc);

    }

/* Footer */
footer{

    display: flex;
    justify-content: space-between;

    background-color: var(--blue_dnc);

    margin-top: 150px;
}

    /* List one Right */
    footer #titlelistFooter1{

        font-family: var(--font_default);
        font-size: 25px;
        font-weight: 800;
        background-color: var(--black_dnc);
        padding: 10px;
        margin-top: 60px;
        width: 40%;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        color: var(--white_dnc);

    }

    footer #listOne{

        align-items: center;
        text-align: center;

        list-style: none;

        color: var(--white_dnc);
        font-family: var(--font_default);
        font-size: 25px;
        font-weight: 800;
    }

    footer .itemListOne{

        margin-top: 30px;
    }

    /* List one Left */
    footer #titlelistFooter2{

        font-family: var(--font_default);
        font-size: 25px;
        font-weight: 800;
        background-color: var(--black_dnc);
        padding: 10px;
        margin-top: 60px;
        width: 70%;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        color: var(--white_dnc);

    }

    footer #listTwo{

        align-items: center;
        text-align: center;

        list-style: none;

        color: var(--white_dnc);
        font-family: var(--font_default);
        font-size: 25px;
        font-weight: 800;
    }